*{
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 2000px;
    height: 7484px;
}

:root{
    --z-white-header:(255, 255, 255);
    --z--blue-button:(0, 97, 255);
    --z-celeste-main:(180, 208, 231);
    /*  designit colors ↓↓↓↓↓ */

    --z-green-chiaro:(209, 233, 205);
    --z-green-opaco:(162, 211, 155);
    --z-wine:(97, 8, 43);
    --z-sky:(0, 147, 206);
    --z-red:(255, 28, 28);
    --z-designit:(245, 245, 245);
    --z-reddx:(213, 0, 31): 
    -z--bluedx:#0d2481;
    -z--celestedx:#b4d0e7;
    -z--yellowdx:#ffd830;
    --z--portadrobox:##B4D0E7;
}

/* -----------------HEADER -------↓↓↓↓↓------*/
#app_header{
    height: 5rem;
    width: 2000px;
    background-color:var(--z-white-header);
    background-color: #9c0a6b3d;
    
}
.bar{
    width: 2000px;
    display: flex;
    position: fixed;
    background-color: #0a149c65;
}
.flex_container{
    display: flex;
    justify-content: space-around;
}

.left_header {
    height: 5rem;
    width: 50%;
    background-color: #9c810a2f;
   
}
.right_header{
    height: 5rem;
    width: 50%;
    background-color: #ffd9302f;
}
/* -----------------NAV--section-------↓↓↓↓↓------*/
#app_nav{
    height: 830px;
    width: 100%;
    background-color: rgba(179, 93, 93, 0.322);
}
.box-one{
    height: 830px;
    width: 1437px;
    border: 1px solid red;
}
.title{
    height: 297px;
    text-align: center;
    border: 5px solid rgb(0, 255, 21);
}
.text-box{
    height: 534px;
    border: 5px solid rgb(22, 110, 211);
}

/* -----------------MAIN--section-1-------↓↓↓↓↓------*/

#app_main{
    height: 6554px;
    width: 100%;
    background-color: #ffd830;
}
.container{
    background-color: rgba(212, 101, 197, 0.384);
    height: 1800px;
    width: 1437px;
}
.small-container{
    height: 1322px;
    background-color: rgba(83, 212, 137, 0.384);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.col-1{
    height: 973px;
    width: 25rem;
    background-color: rgb(35, 39, 42);
    margin-top: 10rem;
    
    
}
.col-2{
    height: 973px;
    width: 25rem;
    background-color: rgb(35, 39, 42);
    margin-top: 10rem;
}
.col-3{
    height: 973px;
    width: 25rem;
    background-color: rgb(35, 39, 42);
    margin-top: 10rem;
}

.col-4{
    height: 25rem;
    width: 95%;
    background-color: rgb(35, 39, 42);
    margin-left: 2.2rem;
}
/* -----------------MAIN--section-2------↓↓↓↓↓------*/
.section-2{
    background-color: rgba(45, 143, 218, 0.719);
    height: 1000px;
    width: 1437px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.left-image{
    height: 50rem;
    width: 50%;
    background-color: #ffd830;
   
   
}
.right-text{
    height: 50rem;
    width: 50%;
    background-color: #37ff30;
}
