*{
    margin: 0rem;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 2000px;
    height: 7484px;
}

:root{
    --z-white-header:#ffffff;
    --z--blue-button:#0061ff;
    --z-celeste-nav:#b4d0e7;
    /*  designit colors ↓↓↓↓↓ */

    --z-green-chiaro:#d1e9cd;
    --z-green-opaco:#a2d39b;
    --z-wine:#61082b;
    --z-sky:#0093ce;
    --z-red:#ff1c1c;
    --z-designit:#f5f5f5;
    --z-reddx:#d5001f; 
    --z-bluedx:#0d2481;
    --z-celestedx:#b4d0e7;
    --z-yellowdx:#ffd830;
    --z-portadrobox:#B4D0E7;
}

/* -----------------HEADER -------↓↓↓↓↓------*/
#app_header{
    height: 5rem;
    width: 2000px;
    background-color:var(--z-white-header);
    
}
.bar{
    width: 2000px;
    display: flex;
    position: fixed;
}
.flex_container{
    display: flex;
    justify-content: center;
}
/* -----------------left header-------↓↓↓↓↓------*/
.left_header {
    height: 5rem;
    width: 50%; 
    background-color:var(--z-white-header)
}
.left-logo{
    height: 3rem;
    width: 25%;
    background-image: url(/img/logo-small.png);
    background-repeat: no-repeat;
    margin-top: 1.5rem;
    margin-left: 1rem;
}
.text-sx{
    height: 2rem;
    width: 50%;
    display: flex;
    margin-left: 9rem;
    margin-top: -3rem;
    justify-content:space-evenly;
}
/* -----------------right header-------↓↓↓↓↓------*/
.right_header{
    height: 5rem;
    width: 50%;
    background-color:var(--z-white-header)
}

.text-dx{
    height: 2rem;
    width: 50%;
    display: flex;
    margin-left: 20rem;
    margin-top: -2rem;
    justify-content:space-evenly;
}
.btn{
    background-color: var(--z--blue-button);
    color: white;
    width: 5rem;
    height: 2.5rem;
    border: none;
    margin-left: 50rem;
    margin-top: 1rem;
    font-size: medium;
    font-weight: bold;
}

/* -----------------NAV--section-------↓↓↓↓↓------*/
#app_nav{
    height: 810px;
    width: 100%;
    background-color: var(--z-celeste-nav)
}
.box-one{
    height: 830px;
    width: 1437px;
}
.title{
    margin-top: 3rem;
    font-weight: bold;
    height: 297px;
    text-align: center;
    font-size: 360%;
}
.text-box{
    width: 480px;
    height: 480px;
    font-size: x-large;
    padding: 1.5rem;
    margin-left: 8rem;
}
.prova-gratuita{
    background-color: var(--z--blue-button);
    color: white;
    width: 15rem;
    height: 2.5rem;
    border: none;
    margin-top: 2rem;
    font-size: medium;
    margin-bottom: 2rem;
}
.icon{
    width: 50px;
    height: 50px;
    margin-top: 2rem;
    font-size: 200%;
}
.jumbo-img{
    width: 900px;
    height: 600px;
    margin-left: 27.5rem;
    margin-top: -28rem;  
}
.jumbo-img >img{
    max-width: 100%;
    margin-top: 2rem;
    box-shadow:gray;
}

/* -----------------MAIN--section-1-------↓↓↓↓↓------*/

#app_main{
    width: 100%;
}
/* -----------------chekbox-text-------↓↓↓↓↓------*/
.chekbox-text {
    padding-bottom:4rem;
    padding-top: 5rem;
    padding-left: 1rem;
}
.chekbox-text> span{
    margin-right: 0.5rem;
    padding-right: 1rem;
}
.text-c{
    text-align: center;
    border: 1px solid lightgray;
    position: absolute;
    top: 0;
    left: 0;
    height: 2.5rem;
    width: 100%;
    line-height:40px;
}
.box{
    border: 1px solid lightgray;
    flex: 1;
    padding:  3.5rem;
    text-align:left;
    margin: 1rem;
    background-color: var(--z-white-header);
    position: relative;
    line-height:40px;
}

.vertical-container {
    display: flex;
    flex-direction:row;
    flex: 1;
}
.contenitore{
    max-height: 100%;
    width: 1100px;
    display: flex;
    flex-direction: column;
    margin-left: 19rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
/* -----------------horizontal-container-------↓↓↓↓↓------*/
.box-v {
    border: 1px solid lightgray;
    flex: 1;
    padding:  4.5rem;
    text-align:left;
    margin: 1rem;
    background-color: var(--z-white-header);
    position: relative;
    line-height:30px;
}

.contatta-btn{
    margin-left: 46.5rem;
    margin-top:-10rem;
}
.horizontal-container {
    display: flex;
    flex-direction: row;
    height: 300px;
}

/* -----------------MAIN--section-2------↓↓↓↓↓------*/

.section-2{
    width: 1437px;
    display: flex;
    flex-direction: row;
}
.left-image{
    box-sizing: content-box;
    width: 100%;
    background-image: url(/img/partner.png);
    margin-left: 2rem;
}
.right-text{
    width: 50%;
    font-size: x-large;
    padding: 6rem 2rem 10rem 4rem;
}
.trova-partner{
    background-color: var(--z-white-header);
    color: black;
    width: 12rem;
    margin-top: 2rem;
    font-size: medium;
    height: 3rem;
}




/* -----------------MAIN--section-3------↓↓↓↓↓------*/

.section-3{
    width: 1437px;
}
.card-text{
    background-color: var(--z-white-header);
    padding-top: 10rem;
    margin-bottom: 10rem;
    font-size: 180%;
}
.column{
    display: flex;
    flex-wrap: wrap;
}
.top-card{
    width: 380px;
    margin-bottom: -5rem;
}
img{
    margin-left: -3rem;
    margin-top: -2.5rem;
    max-width: 120%;
    max-height: 120%;
    padding-bottom: 3rem;
}
.bottom-card{
    padding: 2.5rem;
}
.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6{
    width: 380px;
    margin: 3rem;
}
/* -----------------MAIN--section-4------↓↓↓↓↓------*/
.section-4{
    margin-top: 10rem; 
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
   
}
.team-drop{
    margin-left: -23rem;
    width: 40rem;
    font-size:23px;
    text-align: left;
}
u{
 text:var(--z--blue-button)
}
/* -----------------MAIN--section-5------↓↓↓↓↓------*/
.section-5{
    width: 2000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.cube-1,
.cube-2,
.cube-3 {
    width:  664px;
    display: flex;
    flex-wrap: wrap;
}
/* --------------small---CUBE ------↓↓↓↓↓------*/
[class^="small-cube-"]
{
    width:  330px;
    height: 330px;
}
/* --------------small--cube--colors ------↓↓↓↓↓------*/
.small-cube-1{
    border:1rem solid var(--z-green-chiaro);
    background-color: var(--z-green-opaco);
    
}
.small-cube-2{ background-color:var(--z-wine);}   
.small-cube-3{ background-color:var(--z-sky);}
.small-cube-4{ background-color:var(--z-red);}
.small-cube-5{ background-color:var(--z-reddx);}
.small-cube-6{ background-color:var(--z-celestedx);}
.small-cube-7{ background-color:var(--z-bluedx);}
.small-cube-8{ background-color:var(--z-yellowdx);}
<!----------Cube-2----↓↓↓↓↓-------------->
.cube-2{
    background-color: var(--z-designit);
}
.cube-text{
    margin-left: 2rem;
    padding: 4rem;
    font-size: larger;
}
/* -----------------MAIN--section-6------↓↓↓↓↓------*/
.section-6{
    background-color: var(--z-portadrobox);
    display: flex;
    justify-content: center;
    align-items:baseline;
    width: 2000px;
    color: rgb(97, 8, 43);
    padding: 9rem;
    font-size:23px;

}
.inizia-prova{
    background-color: var(--z-white-header);
    color: black;
    width: 14rem;
    margin-left: 9rem;
    font-size: medium;
    height: 2.5rem;
    border: none;
    
}
/* -----------------MAIN--section-7------↓↓↓↓↓------*/
.section-7{
    width: 2000px;
    background-color:var(--z-designit);
    display: flex;
    justify-content: center;
    align-items: center;
}
.domande{
    width: 1437px;
    padding: 3rem;
    font-size: 110%;
    line-height: 5;
    padding-left: 14rem;
    padding-right: 16rem;
    padding-bottom: 7rem;
}
/* -----------------FOOTER------↓↓↓↓↓------*/

#app_footer{
    background-color: black;
}
.top_footer{
    width: 2000px;
    height: 600px;

    display: flex;
    justify-content: center;
}
[class^="vertical_box_"]{
    height: 600px;
    width: 300px;
    margin-top: 3rem;
    color: white;
    padding: 5rem;
}
h1{
    margin-bottom: 2rem;
}
ul{
    list-style-type: none;
    font-size: medium;
    
}
.bottom_footer{
    width: 200px;
    height: 100px;
    margin-top: -5rem;
    margin-left: -70rem;
    border-top: 3px solid white;
    padding-top: 3rem;
}